<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <!-- Other meta tags -->
    <meta name="author" content="Manuel André Bottiglieri">
    <meta name="keywords" content="projectMAB, AEC, Hackathon, NodeJs, API, BIM, DataBase, DB, mongoDB, Management, Chart, Forge, Autodesk">
    <meta name="description" content="Forge viewer App for AEC Hackathon 5.0 - San Francisco Bay Area">
    <!-- Favicon -->
    <link rel="icon" href="http://aechackathon.com/wp-content/themes/khore/favicon.ico" sizes="16x16" type="image/x-icon">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <!-- BootstrapTable CSS -->
    <link rel="stylesheet" href="/src/bootstrap-table/1.11.1/bootstrap-table.min.css"/>
    <!-- ProjectMAB CSS -->
    <link href="css/viewer.css" rel="stylesheet" />
    <title>Viewer</title>
  </head>

  <body>
    <!-- navigationBar -->
    <nav id="content-top-bar" class="navbar navbar-expand-lg fixed-top navbar-light">
      <img id="logo" class="col-auto img-fluid" src="img/loghi/Lombardini22.png" alt="company logo">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <div id="home-link" class="nav-link pointer" onclick="location.reload()">Home</div>
          </li>
          <li id="navbarDropdown" class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
            <div id="navbarDropdown-menu" class="dropdown-menu" aria-labelledby="navbarDropdown">
              <div class="dropdown-item pointer" onclick="changeView('#TimeSheet')">TimeSheet</div>
            </div>
          </li>
          <li>
            <a class="navbar-brand" href="/timesheet">
              <img id="logout" src="/img/icons/logout.svg" width="30" height="30" class="d-inline-block align-top col-auto rounded" alt="">
            </a>
          </li>
        </ul>
      </div>
    </nav>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <!-- SRC BootstrapTable -->
    <script src="/src/bootstrap-table/1.11.1/bootstrap-table.min.js"></script>
    <script src="/src/bootstrap-table/1.11.1/locale/bootstrap-table-en-US.min.js"></script>
    <!-- Chart.js JavaScript -->
    <script src="/js/Chart.min.js"></script>
    <script src="/js/chartjs-plugin-annotation.js"></script>
    <!-- projectMAB JavaScript -->
    <script src="/js/viewer.js"></script>
    <script></script>
  </body>
</html>
